<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management Dashboard</title>
</head>
<body>

<div>
    <h1>Admin Management Dashboard</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Company Name</th>
<!--            <th>Status</th>-->

        </tr>
        </thead>
        <tbody id="admin-table-body">
        <!-- Admins will be added here dynamically -->
        </tbody>
    </table>
</div>
<!--///Need to implement edit button-->

<button id="add-admin-btn" class="btn">Add a new admin</button>

</body>
<script src="/js/superAdmin/admin-management.js"></script>
</html>
