body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

.container {
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    width: 400px;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 3%;
}
.table-container {
    width: 80%;
    max-width: 800px;
}