
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}


.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.dashboard-container {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.container {
    padding: 20px;
}


.card {
    width: 380px;
}


@media (max-width: 769px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 780px) and (max-width: 850px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 855px) and (max-width: 1200px) {
    .card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}


footer {
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 1rem 0;
    margin-top: auto;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
