<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/home.css">
  <!-- Include the html5-qrcode library -->
  <script src="/js/html5-qrcode.min.js"></script>
  <script src="/js/qrScanner.js" defer></script>
</head>
<body>
<div class="container">
  <div class="translucent-box text-center">
    <h1 class="mb-4">Welcome</h1>
    <div class="col-12">
      <a href="/login" class="btn btn-primary btn-lg mb-3">Login</a>
    </div>
    <div class="col-12">
      <a href="#" id="scanButton" class="btn btn-success btn-lg mb-3">Scan QR</a>
    </div>
    <!-- Scanner container -->
    <div class="col-12" id="scannerContainer" style="display:none;">
      <div id="reader" style="width: 100%; height: 400px;"></div>
      <button class="btn btn-danger btn-lg mt-3" id="stopScanButton">Stop Scanning</button>
    </div>
  </div>
</div>
</body>
</html>
