<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container d-flex vh-100">
  <div class="row m-auto text-center">
    <h1 class="mb-4">Login</h1>
    <div class="col-12">
      <form th:action="@{/login}" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Email</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Login</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
