<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/js/technician/bike-dashboard.js" type="module" defer></script>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/bike-dashboard.css">
    <title>Bike Dashboard</title>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="~{fragments/menu.html}"></th:block>
<div class="dashboard-container flex-grow-1">
    <div class="dashboard-header">
        <h2 class="dashboard-title">Bike Dashboard</h2>
        <div class="user-info">
            <span>Welcome, <strong><span sec:authentication="name"></span></strong>!</span>
            <div class="user-avatar">T</div>
        </div>
    </div>
    <!-- Bike Table Column -->
    <div class="table-column">
        <div class="table-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>All Bikes</h4>
            </div>
            <div class="row mb-3">
                <div class="d-flex align-content-between">
                    <input type="text" id="filterValue" class="me-2" placeholder="Enter name"/>
                    <select id="filterType" class="me-2">
                        <option value="brand">Brand</option>
                        <option value="model">Model</option>
                        <option value="chassisNumber">Chassis Number</option>
                    </select>
                    <button id="searchBtn" class="btn btn-primary">Search</button>
                </div>
                <div id="no-results-message" class="text-danger" style="display: none;">No results found</div>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Bike QR</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Chassis Number</th>
                    <th>Production Year</th>
                    <th>Bike Size</th>
                    <th>Mileage</th>
                    <th>Gear Type</th>
                    <th>Engine Type</th>
                    <th>Power Train</th>
                    <th>Accu Capacity (Ah)</th>
                    <th>Max Support (%)</th>
                    <th>Max Engine Power (W)</th>
                    <th>Nominal Engine Power (W)</th>
                    <th>Engine Torque (Nm)</th>
                    <th>Last Test Date</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bike : ${bikes}" th:id="'bike-' + ${bike.bikeQR}">
                    <td>
                        <div class="qr-wrapper">
                            <img th:src="${bike.qrCodeImage}" alt="QR Code" class="img-thumbnail qr-code-img">
                        </div>
                    </td>
                    <td th:text="${bike.brand}"></td>
                    <td th:text="${bike.model}"></td>
                    <td th:text="${bike.chassisNumber}"></td>
                    <td th:text="${bike.productionYear}"></td>
                    <td th:text="${bike.bikeSize}"></td>
                    <td th:text="${bike.mileage}"></td>
                    <td th:text="${bike.gearType}"></td>
                    <td th:text="${bike.engineType}"></td>
                    <td th:text="${bike.powerTrain}"></td>
                    <td th:text="${bike.accuCapacity}"></td>
                    <td th:text="${bike.maxSupport}"></td>
                    <td th:text="${bike.maxEnginePower}"></td>
                    <td th:text="${bike.nominalEnginePower}"></td>
                    <td th:text="${bike.engineTorque}"></td>
                    <td th:text="${bike.lastTestDate}"></td>
                    <td>
                        <div sec:authorize="hasRole('TECHNICIAN')">
                            <a th:href="@{/technician/pre-check/{bikeQR}(bikeQR=${bike.bikeQR})}"
                               class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-list-check"></i> Pre-test Check
                            </a>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger remove-bike-button" th:attr="data-bike-id=${bike.bikeQR}">
                            <i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/technician/bike-owners}" class="btn btn-secondary btn-block mb-2">
                Back to Customers
            </a>
            <a th:href="@{/technician/bikes/add(ownerId=${ownerId})}" class="btn btn-primary btn-block mb-2">
                <i class="fa-solid fa-plus"></i> Add New Bike
            </a>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer.html}" class="mt-auto"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</body>
</html>