<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test in Progress</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
  <script src="/js/technician/pollTestStatus.js" type="module" defer></script>
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center">Test in Progress</h2>
  <p class="text-center">Test ID: <span th:text="${param.testId[0]}"></span></p>
  <p class="text-center" id="status">Status: </p>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>